<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LensAware</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.lensaware.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.lensaware.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lensaware</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>MWDAT</key>
	<dict>
		<key>AppLinkURLScheme</key>
		<string>lensaware://</string>
		<key>ClientToken</key>
		<string>96d7fac74b7ae05ba7cb7dd73241e86c</string>
		<key>MetaAppID</key>
		<string>1496345565256498</string>
		<key>TeamID</key>
		<string>QV83FHLV6F</string>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>LensAware uses Bluetooth to connect to your Meta Ray-Ban glasses.</string>
	<key>NSCameraUsageDescription</key>
	<string>LensAware uses your camera to analyse health context through your Meta Ray-Ban glasses.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>LensAware may access the microphone for glasses audio.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
</dict>
</plist>
